<!-- 顶部导航 -->
<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
    <div class="container">
      <a class="navbar-brand fw-bold text-danger" href="/">SOFIRE</a>
      
      <a class="nav-link px-3">ADMIN PANNEL</a>

    </div>
  </nav>