<!-- 顶部导航 -->
<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
    <div class="container">
      <a class="navbar-brand fw-bold text-danger" href="/">SOFIRE</a>
    
  
      <!-- 购物车组件 -->
      <%- include('cart-modal') %>
    </div>
  </nav>